<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Hello World</title>
  <!--    This will need to be broken out into a stylesheet, I think-->
  <style>
      body {
          background-color: black;
          color: #33ff33;
          font-family: "Courier New", Courier, monospace;
          margin: 0;
          padding: 0;
          height: 100vh;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100vh;
      }

      h1, p {
          text-align: center;
          margin: 10px 0;
      }
  </style>
</head>
  <body>
    <h1>Hello World!</h1>
    <p>Key Contributors:</p>
    <p>Horus</p>
  </body>
</html>