<!DOCTYPE html>
<html>
<head>
  <title>Hello World</title>
  <link rel="stylesheet" href="/app/assets/stylesheets/style.css">
</head>
  <body>
  <h1 class="animating h1-animation">Hello World!</h1>
  <p class="animating p1-animation">Key Contributors:</p>
  <p class="animating p2-animation">Horus</p>
  </body>
</html>